.hire-djakota-client,
.hire-djakota-minimap {
	width: 100%;
	height: 100%;
}

.hire-djakota-client > .interaction,
.hire-djakota-client > .image,
.hire-djakota-minimap > .interaction,
.hire-djakota-minimap > .image {
	position: absolute;
}

.hire-djakota-client > .interaction,
.hire-djakota-minimap > .interaction {
	z-index: 1;
}